<h2>Kit</h2>

<h3>A–Z</h3>
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
a b c d e f g h i j k l m n o p q r s t u v w x y z

<h3>Animals</h3>
Dog	🐶,
Cat	🐱,
Rabbit 🐰,
Fox	🦊,
Lion 🦁,
Eagle 🦅,
Bear 🐻,
Panda 🐼,
Elephant 🐘,
Monkey 🐒,
Wolf 🐺,
Owl	🦉,
Snake 🐍,
Turtle 🐢,
Shark 🦈,

<h3>Birds</h3>
swan 🦢,
Flamingo 🦩,
Black Bird	🐦‍⬛,
Chicken	🐔,
Chick 🐥,
Hatching Chick 🐣,
Front-Facing Chick	🐤,
Rooster  🐓,
Turkey  🦃,
Duck 🦆,
Goose 🪿,
Penguin	🐧,
Dove 🕊,
Eagle	🦅,
Owl	🦉,
Peacock 🦚,
Parrot 🦜,
Swan 🦢,
Flamingo 🦩,
Dodo 🦤,
Phoenix	🐦‍🔥

<h4>Fruits</h4>
Avocado	🥑,
Eggplant 🍆,
Potato	🥔,
Carrot	🥕,
Corn 🌽,
Hot Pepper (Chili)	🌶,
Bell Pepper	🫑,
Cucumber	🥒,
Broccoli	🥦,
Garlic	🧄,
Onion	🧅,
Tomato	🍅,
Olive	🫒,
Pea Pod	🫛,
Mushroom 🍄,
Pumpkin	🎃

<h5>Vechiles</h5>
Automobile (Car) 🚗,
Oncoming Automobile	🚘,
Sport Utility Vehicle (SUV)	🚙,
Pickup Truck 🛻,
Racing Car	🏎,
Taxi 🚕,
Oncoming Taxi 🚖,
Bus	🚌,
Oncoming Bus 🚍,
School Bus	🚌,
Trolleybus	🚎,
Ambulance	🚑,
Fire Engine	🚒,
Police Car	🚓,
Oncoming Police Car	🚔,
Delivery Truck	🚚,
Articulated Lorry (Semi-truck)	🚛,
Tractor	🚜,
Motorcycle	🏍,
Motor Scooter	🛵,
Bicycle	🚲,
Kick Scooter	🛴,
Skateboard	🛹,
Auto Rickshaw	🛺,
Train 🚆,
High-Speed Train 🚄,
Subway/Metro 🚇,
Airplane ✈,
Helicopter	🚁,
Rocket	🚀,
Ship 🚢,
Speedboat 🚤,
Sailboat ⛵

<a href="/"><button>Back</button></a>