<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shopping</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <style>
    body { text-align: center; margin-top: 40px; }
    button { margin: 10px; padding: 14px 25px; font-size: 16px; }
  </style>
</head>
<body>

<h1>Shopping Section</h1>

<p>
  <a href="google.com https://share.google/zb01jY7TMRYjNAiDg" target="_blank">
      <button>Alphabet Shop</button>
  </a>
</p>

<p>
  <a href="google.com https://share.google/8YNKVCqnyfBXCLD8M " target="_blank">
      <button>Animal Shop</button>
  </a>
</p>

<p>
  <a href="/kit">
      <button>Back to Kit</button>
  </a>
</p>

</body>
</html>